@import 'variables';
@import "mixins";

.excel__table {

  position: absolute;
  left: 0;
  right: 0;
  top: $headerHeight + $toolbarHeight + $formula-height;
  overflow-x: auto;


  .row {
    display: flex;
    flex-direction: row;
    min-width: 20px;
    height: $row-height;
    padding-bottom: 2px;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $sell-info--width;
    height: 100%;
    background: #f8f9fa;
    border: 1px solid $border-color;
    border-top: 0;
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    padding: 7px 5px 5px;
  }

  .cell {
    height: $row-height;
    min-width: 40px;
    width: $cell-width;
    padding: 5px 6px 6px;
    border: 1px solid #cfd7d7;
    border-top: 0;
    border-left: 0;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid #5780e2;
      z-index: 2;
    }
  }


}