@import 'variables';
@import "mixins";

.excel__toolbar {
  height: $toolbarHeight;
  position: absolute;
  left: 0;
  right: 0;
  top: $headerHeight;

  //temp
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;

  & .button {
    @include button(green);
    margin-right: 7px;
    padding: 3px 4px;
    background: transparent;

    &:hover {
      background: #e9e6e6;
      border-radius: 2px;
    }
  }
}